:root {
    --main-lighter: white;
    --main-light: #0061fe;
    --main-dark: black;
    --main-jumbo: #b4d0e6;
    --border: #dddce0;
    --footer-text: #8b8b8c;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

*{
    border: 0.5px dashed black;
    box-sizing: border-box;
}

/*HEADER*/
.top-nav {
    display: flex;
    justify-content: space-between;
    color: var(--main-dark);
    font-size: 12px;

    .left-menu {
        display: flex;  
        align-items: center;

        .logo {
            padding:0.5rem
        }    
    }

    .right-menu {
        display: flex;
        align-items: center;
        margin: 0.5rem;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding-inline-start: 0px;
    }

    li {
        margin: 0px;
        padding: 0px;
    }

    a {
        text-decoration: none;
        color: var(--main-dark);
        padding: 1rem;  
    }

    .login {
        color: white;
        padding: 0.3rem 0.5rem;
        font-size: 11px;
    }  
}

/*MAIN*/

/* jumbo */
.jumbo-container {
    width: 100;
    background-color: var(--main-jumbo);
    height: 100%;
}
.jumbo {
    
    width: 70%;
    margin: auto;

    h1 {
        font-size: 3.5rem;
        font-weight: bolder;
        margin-top: 4rem;
        margin-bottom: 3rem;
    }

    img {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: -3rem;
        
    }

    p {
        margin: 0rem 0 2rem 0;
        font-size: 12px;
        line-height: 1rem;
        padding-right: 1rem;
    }

    i {
        font-size: 40px;
    }
}

/* content */

/*
.main-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    border-top: 0.5px solid var(--border);
}
    */

.main-container {
    margin: auto;
    width: 60%;
}

.content {
    width: 100%;
    margin-top: 2rem;
}

.plan {

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        padding-left: 0.75rem;
    }

    .select {
        vertical-align: middle;
        margin-top: 3rem;
        margin-bottom: 2rem;
        font-size: 12px;
    }

    .plan-type {
        text-align: center;
        padding: 0.5rem;
        font-size: 12px;
    }

    span {
        font-size: 12px;
        padding-left: 0.75rem;
    } 

    .price {
        font-weight: bold;
     }

     .cad {
        color: var(--footer-text);
     }
    
    p {
        font-size: 12px;
        margin-top: 2rem;
        padding-left: 0.75rem;
        
    }

    ul {
        padding-inline-start: 0px;
        font-size: 12px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    li{
        padding: 0.75rem;
    };

    .points i {
        color: blue;
    }

    i {
        padding-right: 0.25rem;
    }

    .plan-type {
        border-bottom:0.5px solid var(--border) ;
    }

    .card {
        border: 0.5px solid var(--border);
        height: 95%;
        margin: 0rem 1rem;
        padding: 0.5rem;
        display: flex;
        flex-wrap: wrap;
    }

    .contact {
        display: flex;
        align-items:flex-start;
        justify-content: center;
         
        .btn {
            margin-top:1rem;
        }
    }
}

.partner {

    margin-top: 5rem;

    h3 {
        font-size: 16px;
        line-height: 1.5rem;
    }

    img {
        width: 100%;
        margin-top: 2rem;
    }

    .col-4 {
        padding: 3rem 2rem;
    }
    p {
        margin: 0rem 0 2rem 0;
        font-size: 12px;
        line-height: 1rem;
        padding-right: 1rem;
    }

    a {
        border: 1px solid black;
        padding: 0.5rem 0.75rem;
        font-size: 12px;
        color: black;
        margin: 0rem;
    }

}

.operations {

    margin-top: 5rem;
    margin-bottom: 5rem;

    h2 {
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    h3 {
        font-size: 16px;
        line-height: 1.5rem;
    }

    p {
        margin: 0rem 0 2rem 0;
        font-size: 12px;
        line-height: 1rem;
        padding-right: 1rem;
    }

    img {
        width: 100%;
    }

    .op-card {
        padding: 1rem;
    }
}

.conclusion {
    margin-bottom: 5rem;
    h2 {
        margin-top: 3rem;
        margin-bottom: 3rem;
        line-height: 2.5rem;
    }

    a {
        font-size: 12px;
        color: blue;
        text-decoration: underline;
        margin-left: 0px;
    }
}

/* FOOTER */

footer {
    color: white;
    display: flex;
    justify-content: center;
    background-color: var(--main-dark);  
}

.bottom {
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
}

.info-title {
    margin-bottom: 1.5rem;
    
    strong {
        color: white;
        font-size: 16px;
    }
    
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
    justify-content: center;
    font-size: 12px;
    line-height: 1.5rem;
    color: var(--footer-text);
    padding-inline-start: 0px;
}

a {
    text-decoration: none;
    border-color: none;
}

.lang {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-size: 10px;
    color: var(--footer-text);


    span {
        border-top: 1px solid var(--footer-text);
        padding-top: 2rem;
        margin-right: 1rem;
        padding-right: 0.5rem;

        i {
            padding-right: 0.5rem;
        }
    }
}




/* UTILITY */

.padding {
    padding: 1rem;
}

.width100 {
    width: 100%;
}

.btn {
    background-color: var(--main-light);
    color: var(--main-lighter);
    padding: 0.5rem 0.75rem;
    font-weight: 100;
    font-size: 12px;
    
}

.trial {
    margin-left: 0;
    color: white;
}

.btn-plan {
    justify-self: center;
    background-color: var(--main-light);
    color: var(--main-lighter);
    font-size: 12px;
    padding: 0.5rem 0.75rem;
    text-align: center;
    display: block;
    width: 70%;

    a {
        padding: 0.5rem 0.75rem;
    }
 }
 
 .row-container {
    margin: 1rem -1rem;  
 }

.row {
    display: flex;
    flex-basis: auto;  
}

.row-operations {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: auto;
    flex-basis: auto;
}
.col-1 {
    width: calc(100% / 12 * 1);
}
.col-2 {
    width: calc(100% / 12 * 2);
}
.col-3 {
    width: calc(100% / 12 * 3);
}
.col-4 {
    width: calc(100% / 12 * 4);
}
.col-5 {
    width: calc(100% / 12 * 5);
}
.col-6 {
    width: 50%
}
.col-7 {
    width: calc(100% / 12 * 7);
}
.col-8 {
    width: calc(100% / 12 * 8);
}
.col-9 {
    width: calc(100% / 12 * 9);
}
.col-10 {
    width: calc(100% / 12 * 10);
}
.col-11 {
    width: calc(100% / 12 * 11);
}
.col-12 {
    width: 100%;
}